body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    margin: 0px;
    width: 280px;
    height: 550px;
    overflow: hidden;
    position: relative;
}

#scroll {
    overflow: auto;
    height: 100%;
    position: absolute;
}

.content {
    margin: 10px;
}

#mainPopup {
    line-height: 1.25;
}


#error-message {
    text-align: center;
    vertical-align: middle;
    margin-top: 25%;
    font-weight: bold;
}

#spinner {
    position: fixed;
    width: 32px;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
}

th, td {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}

.coin-icon {
    width: 18px;
}

th {
    padding: 5px;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.total {
    font-size: 1.3em;
    padding: 0px 10px 10px 10px;
}

.total-values{
    cursor: pointer;
    display:inline-block;
}

.totalpercent{
    display:inline-block;
    float:right;
    text-align: right;
}

.coin{
    text-align: center;
}

.holdings{
    line-height: 1.5;
}

.price{
    line-height: 1.5;
}

.down{
    color: red;
}

.up{
    color:green
}